.main-container {
    width: 70%;
    margin: 0px 15%;
    display: flex;
}

.left-container {
    width: 40%;
    height: fit-content;
    position: sticky;
    top: 0px;
    padding: 84px 0;
}

.right-container {
    width: 60%;
    padding: 84px 0 48px 0;
}

.right-container>section {
    padding-bottom: 84px;
    scroll-margin-top: 84px;
}

footer {
    text-align: center; 
}

ul {
    list-style-type: ":) ";
}
